{% extends "smw_webs/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock %}
{% block page_header %}
	<div class="c-tab-content">
		<span class="o-heading">Welcome to our home page!</span>
		<br>
		<span class="o-subheading">About</span>
		<br>
		Our goal as the Society of Computer Studies is to provide insight about programming and Computer Science
		to our schoolmates, and to help them gain a better understanding of the topics, as well as an understanding
		of the impact of rapid development of IT on our society.
		<hr>
		We conduct
		<a href="https://qcsocs.xyz/program-course/" target="_blank">programming courses</a>,
		as well as training for the
		<a href="https://hkoi.org/en/" target="_blank">HKOI</a>
		(Hong Kong Olympiad in Informatics) to achieve our aims.
		<br><br>
		<div class="o-link-button" onclick="alert('Who the hell is Steve Jobs')">Upcoming Events >></div>
	</div>

	<div class="c-tab-content">
		<span class="o-subheading">Officials List</span>
		<br><br>
		<b>Chairman:</b>
		<div class="o-info-bicolumn-display">
			<span>Chan Chi Him</span>
			<span>5C (01)</span>
		</div>
		<br>
		<b>Vice Chairman:</b>
		<div class="o-info-bicolumn-display">
			<span>Yip Cheuk Lam</span>
			<span>5C (34)</span>
			<span>Chen Kyle</span>
			<span>4A (06)</span>
		</div>
		<br>
		<b>Committee:</b>
		<div class="o-info-bicolumn-display">
			<span>Wu Zi Qi</span>
			<span>3A (30)</span>
			<span>Fu Sze Ho</span>
			<span>3C (10)</span>
			<span>Li Yue Wang</span>
			<span>4B (19)</span>
			<span>Lam Ching Yiu</span>
			<span>5A (10)</span>
			<span>Fung Yik Hei</span>
			<span>4C (07)</span>
		</div>
		<br>
		<div class="o-link-button" onclick="alert('lig- I have been advised not to continue this joke any further')">Contact Us >></div>
	</div>
{% endblock page_header %}
